{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}veganmekan{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
<div class="container">
	<header class="header">
		<div id="logo">
			<a href="/">veganmekan</a>
		</div>
		<div id="nav">
			<a href="#">Anasayfa</a>
			<a href="#">Kayıt</a>
			<a href="#">Giriş</a>
		</div>
	</header>
	<div class="content">
		{% block content %}
			PLACEHOLDER
		{% endblock %}
	</div>
	<footer class="footer">
		veganmekan - 2016
	</footer>
</div>
</body>
</html>
