{% extends "base.html" %}

{% block content %}

  <h2>{{ place.name }}</h2>
  <p>
    {{ place.description|linebreaksbr }}
  </p>
  {% if place.review_count > 0 %}
    <h3>Yorumlar:</h3>
    {% for review in place.review_set.all %}
    <blockquote>
      {{ review.comment }}
      <small>
        {{ review.user.username }}
      </small>
    </blockquote>
    {% endfor %}
  {% endif %}
  <h3>Fotoğraflar:</h3>
  <div>
    {% for media in place.media_set.all %}
      <img src="{{ media }}">
    {% endfor %}
  </div>

{% endblock %}
